# Ignore build outputs
/bin/
/obj/

# Ignore user-specific files
*.user
*.suo

# Ignore IDE settings
.vscode/
*.csproj.user

# Ignore logs
*.log
/PetHub.Services/obj
/PetHub.WebApiPortal/obj
/.vs/PetHub.WebApiPortal
/EssentialCore/bin/Debug/net9.0
/PetHub.Entities/bin/Debug/net9.0
